<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand" href="/">Pet Weather</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Petlisting</a></li>
			<li><a href="/addPet">Add Pet</a></li>
		</ul>
	  
	</div>
</nav>